body {
	color: white;
	/* font-family: 'Abril Fatface', cursive;
	font-family: 'Open Sans', sans-serif; */
	font-family: 'Outfit', sans-serif;
	font-weight: 300;
	font-size: 1.82rem;
}

a {
	text-decoration: none;
	font-family: Open Sans', sans-serif;
 font-weight: 600;
	font-size: 2.85rem;
	color: hsl(0, 0%, 100%);
}

.container {
	min-height: auto;
	max-width: 1440px;
	background-color: hsl(217, 54%, 11%);
	border-radius: 10px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;



}

.card {
	width: 90%;

	margin: 20px auto 0px;

}

.card img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.herobox {
	width: 90%;

	height: 500px;
	margin: 10px;
	/* background-color: brown; */
	display: block;
	justify-content: space-between;
	align-items: center;
}

a:hover {
	color: hsl(215, 51%, 70%);
}



.mybox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.25rem;
}

.duration {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.duration p {
	color: hsl(215, 51%, 70%);
}

.mytime {
	display: flex;
	justify-content: space-between;
	align-items: center;


}

.timeicon {
	padding-right: 8px;
}

.mytime p {
	color: hsl(178, 100%, 50%);
}

.durationicon {
	padding-right: 8px;
}

.discription p {
	color: hsl(215, 51%, 70%);
}

.myline {
	width: 95%;
	border-bottom: 1px solid rgba(211, 211, 211, 0.185);
	margin: 20px auto;
}

.myauthority {
	margin-top: 20px;
	display: flex;
	align-items: center;
	padding-bottom: 10px;

}




.authortext p {
	font-size: 1.2rem;
	padding-left: 10px;
	color: hsl(215, 51%, 70%);
	text-align: center;

}

.authortext p:hover {
	color: hsl(215, 51%, 70%);
}